<%= form_for @student do |f| %> 


  <p> <%= f.label :title %>:
  <%= f.text_field :title %><br /> </p>
  <p> 
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br /> </p>
  <p>
  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br /> </p>
  <p>
  <%= f.label :age %>:
  <%= f.text_field :age%><br /> </p>
  <p>
  <%= f.label :stream %>:
  <%= f.text_field :stream %><br /> </p>
  <p>
  <%= f.label :Address %>:
  <%= f.text_field :Address %><br /> </p>

  <p>
  <%= f.label :description %>:
  <%= f.text_field :description %><br />
  </p>
  <%= f.submit %>

 <% end %>