<html>
<head>
	<title> </title>
</head>
<body>
 

Title : <%= @student.title %> <br/>
First Name : <%= @student.first_name %> <br/>
Last Name : <%= @student.last_name %> <br/>
Age : <%= @student.age %> <br/>
Stream : <%= @student.stream %> <br/>
Address : <%= @student.Address %> <br/>
Description : <%= @student.description %> <br/>


</body>
</html>

